body{
    width:820px;
    margin:auto;
    padding:15px;
    font:12pt/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#444;
}

#titlename {
    width: 100%; 
    text-align:center;
    font-variant:small-caps;
    font-size: 17pt;
    font-weight:bold;
    margin-top: -40px;
    margin-bottom: 25px;
}

.contact_info {
    width: 278px;
    font-size: 11pt;
    line-height: 1.4em;
}

.go_right {
    float:right; 
    text-align: right;
}

/* Above is fixed */

th {
    font-size:11pt;
    font-weight:bold;margin-bottom:2px
}

ul{
    margin:2px 0 20px
}

tr th:nth-child(3){text-align:right;width:40%}
tr th:nth-child(2){text-align:center;width:30%}
tr th:nth-child(1){text-align:left;margin-left:0;padding-left:0;width:35%}

th{padding-top:0;padding-left:0;padding-right:0;border-bottom:0;color:black}

.jobrole{margin-top:2px;margin-bottom:-4px;margin-left:8px;color:black;font-size:11pt}

.color_link{color:#39c;font-weight:400}

ul{padding-top:2px;padding-bottom:0;margin-bottom:0}
ul li{margin-left:-15px;margin-top:-2px;font-size:11pt;margin-bottom:0}
a{color:#444}
th a{font-weight:bold;color:black}
strong a{font-weight:bold;color:#222}
.nobullets{list-style:none;list-style-position:outside;padding-left:20;margin-left:0}
table{margin-bottom:-10px}

p{margin-bottom:4px;font-size:12pt}

input {
  border: #000000;
}


/* Buttons on the right */
#add-section-title {
    width: 100px;
    position: fixed;
    bottom: 40em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    margin: 0 0;
}

#add-subsection {
    width: 100px;
    position: fixed;
    bottom: 36.5em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    margin: 0 0;
}

#add-bullet-point {
    width: 100px;
    position: fixed;
    bottom: 33em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    margin: 0 0;
}

#add-line {
    width: 100px;
    position: fixed;
    bottom: 29.5em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    margin: 0 0;
}

#move-up {
    width: 100px;
    position: fixed;
    bottom: 26em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    margin: 0 0;
}

#move-down {
    width: 100px;
    position: fixed;
    bottom: 22.5em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    margin: 0 0;
}

#increase-margin {
    width: 100px;
    position: fixed;
    bottom: 19em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    margin: 0 0;
}

#decrease-margin {
    width: 100px;
    position: fixed;
    bottom: 15.5em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    margin: 0 0;
} /* end buttons on the right */

.wider-width {
    width: 850px;
}

.bullet-symbol {
    width: 820px;
    margin-left: 15px;
    margin-right: 0px;
    padding-right: 0px;
}

.bullet-text {
    width: 800px;
    margin-left: 0px;
    padding-left: 0px;
}

hr {
    width: 820px;
    margin-bottom:2px;
    margin-left: 0;
}

.section-title-text {
    text-align: center;
    font-size: 14pt;
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 5px;
}

.section-title-text, .line-text {
    width: 820px;
    float: left;
}

.subsection-text {
    width: 530px;
    float: left;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 5px;
}

.date {
    width: 280px;
    text-align: right;
    margin-left: 10px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 5px;
}

.remove-button {
    opacity: 0.001;
    display: inline-block;
    float: right;
}

.remove-button:hover {
    opacity: 1;
    background-color: white;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover, #add-section-title:hover, #add-subsection:hover, 
#add-bullet-point:hover, #add-line:hover, #move-up:hover, #move-down:hover, 
#increase-margin:hover, #decrease-margin:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}